/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=Jacques+Francois+Shadow&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Fredoka", sans-serif;
    --secondary-font: "Jacques Francois Shadow", sans-serif;
    --primary-color: #26525e;
    /* Blue Dianne */
    --secondary-color: #eef1f1;
    /* Light Greyish Cyan */
    --highlight-color: #a1c9ce;
    /* Light Blue Dianne */
    --secondary-highlight-color: #18343e;
    /* Dark Blue Dianne */
}

/* Global Styles */

body {
    font-family: var(--primary-font);
    padding-top: 89px; /* 89px is the height of the navbar */
    background-image: url('../images/Missioned_Souls4.jpg');
    background-size: contain; /* Scales the image to fit the container */
    background-repeat: no-repeat; /* Only one instance of the image */
    background-position: center center; /* Centers the image horizontally and positions it below the navbar */
    background-attachment: fixed; /* Makes the background static */
    background-color: var(--secondary-color); /* Fallback color */
}

h1 {
    font-family: var(--secondary-font);
    font-size: 2.5rem;
    color: var(--primary-color);
}

.navbar {
    padding-top: 0px;
    padding-bottom: 0px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 89px; /* Fixed height for the navbar */
    background-image: url('../images/Missioned_Souls_Banner.jpg');
    background-size: cover; /* Scales to cover the entire navbar area */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image in the navbar */
    background-color: var(--secondary-highlight-color); /* Fallback color */
    z-index: 1000; /* Ensures the navbar is above other content */
}

.logo {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    overflow: hidden;
}

.nav-link {
    color: var(--highlight-color);
    font-family: var(--primary-font);
}

.nav-link.active {
    color: var(--secondary-color) !important; /* Ensures the active link color is applied */
}

.nav-link:hover,
.nav-link:focus {
    color: white; /* Or another color for hover/focus */
    text-decoration: none;
}

.content-section-inner {
    max-width: 50%; /* This constrains the inner div to half the width of its parent (.col-12) */
    margin-left: auto; /* Centers the div horizontally */
    margin-right: auto; /* Centers the div horizontally */
    padding: 20px; /* Adds padding inside the div */
    background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white background */
    border-radius: 8px; /* Rounded corners for the div */
}

.content-section-inner h1,
.content-section-inner p {
    text-align: center; /* Centers the text inside the div */
}

.content-section-inner p:nth-of-type(1) {
    font-family: var(--primary-font);
}

/* grid visualisation CSS for testing */

/* .container,
.row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgray;
}